
<div id="social">
  <div class=" social" 
    data-href="http://sfchronicle.com/drivingthefuture/timeline/" 
    id="facebook-icon" title="Share on Facebook">
    <i class="fa fa-facebook"></i>
  </div>
  
  <a class="social" id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.sfchronicle.com%2Fdrivingthefuture/timeline&text=Self-driving cars timeline: The road from fantasy to fruition">
    <i class="fa fa-twitter"></i>
  </a>

  <a class="social" id="mail-icon" title="Share via email" href="mailto:?subject=Timeline: The road from fantasy to fruition&body=%0A%0Ahttp%3A%2F%2Fwww.sfchronicle.com%2Fdrivingthefuture%2Ftimeline">  
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>

</div>
