.interactive-container, .above-text {
	max-width: 992px;
	margin: 0 auto;
}

.interactive-container {
	padding-top: 20px;
}

.img {
	max-width: 450px;
	display: block;
	//position: fixed;
	position: absolute;
}

.scrolly-text-container {
	display: inline-block;
	max-width: 542px;
	margin-left: 465px;
}

.text {
	height: 200px;
}


.hide {
	display: none;
}