.interactive-container, .above-text {
	max-width: 992px;
	margin: 0 auto;
}

.interactive-container {
	padding-top: 20px;
}

.img {
	max-width: 450px;
	display: block;
	//position: fixed;
	position: absolute;
}

.scrolly-text-container {
	display: inline-block;
	max-width: 532px;
	margin-left: 475px;
}

.text {
	//height: 200px;
	margin-top: 100px;
	color: gray;
}

.beckstoffer {
	color: gray;
}

.active {
	color: black;
}


.hide {
	display: none;
}