<!-- build:remove -->
<%= t.include("partials/_top.html") %>
<!-- /build -->
<!-- build:css inline -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- /build -->





<!-- Code that goes within WCM Freeform -->


<div class="interactive-container">

<img class="one" src="http://projects.sfchronicle.com/2017/embed-tokalon/img/01_intro.jpg">
<img class="two hide" src="http://projects.sfchronicle.com/2017/embed-tokalon/img/beckstoffer.jpg">
<img class="three hide" src="http://projects.sfchronicle.com/2017/embed-tokalon/img/detert.jpg">
<img class="four hide" src="http://projects.sfchronicle.com/2017/embed-tokalon/img/macdonald.jpg">
<img class="five hide" src="http://projects.sfchronicle.com/2017/embed-tokalon/img/mondavi.jpg">


<div class="text-container">
	<p class="text">Robert Mondavi Cabernet Sauvignon Oakville To Kalon Vineyard Reserve 2013 ($155, 15%) – Longtime Mondavi winemaker Geneviève Janssens makes one of the more austere renditions of To Kalon, highly structured, holding back on fruit. It shows olive, anise and cedar, highlighted by orange peel. Substantial and tight.</p>

	<p class="text">MacDonald Cabernet Sauvignon Oakville 2014 ($150, 14.5%) – Cool-toned, with impressions of wet stone, terra cotta, dried herbs, bay leaf and rose. A deep, oozing fruit character – like blueberry coulis – comes as an afterthought. Bright juicy acid frames the plump midpalate, suggesting cocoa powder and licorice. Structured but supple, already approachable, with velvety tannins that pull gently.</p>

	<p class="text">Detert Family Cabernet Franc Oakville Napa Valley 2014 ($95, 14.7%) – Since Detert, which owns 17 acres of To Kalon, is prohibited from printing the vineyard’s name on its label, the back label cites merely “our unique Oakville vineyard.” (Owner Tom Garrett is also a partner in the Dakota Shy brand.) The 2014 Cab Franc is still tight, hinting at dark fruit – currant, dark plum, blackberry pastry. It shows little pyrazine, expressing a savory character rather with green olive and tobacco leaf. The bright fruit is met with citrus, grounded with graphite and framed by hefty tannins and firm acidity.</p>

	<p class="text">Schrader Cabernet Sauvignon Napa Valley Beckstoffer To Kalon Vineyard 2013 ($TK, 14.7%) – Dense and opaque, this is the most powerful of the wines in this tasting. It smells like quintessential Napa, with toasty vanilla, cassis, blackberry and cedar, leading into olive on the palate. Seductive, hedonistic and very grippy, it’s still tight, with almost-velvety tannins.</p>

	<p class="text">Realm Napa Valley Beckstoffer To Kalon 2015 ($200, 14.6%) – Despite its “red wine” label, Realm’s bottling is predominantly Cabernet Sauvignon, rounded out with a little bit of Cabernet Franc. The nose is super bright, marked by fig, blackberry and an irresistible, sweet-salty roasted meat quality. The palate’s black fruit intensity is frankly insane: Still savory, with umami-rich soy sauce and black olive, plum, cassis, pine. Its rough tannins suggest a long ways to go. I couldn’t help but take another sip, and then another sip.</p>

	<p class="text">Alpha Omega Cabernet Sauvignon Oakville Beckstoffer To Kalon 2013 ($225, 14.5%) – From winemaker Jean Hoefliger, Alpha Omega’s fresh, supple 2013 To Kalon is led by classic black currant notes, accented by iron and mocha. Its juicy, tart fruit is cut with hefty, still-bitter tannins. Graceful enough to mask its considerable power.</p>

	<p class="text">Tor Cabernet Sauvignon Napa Valley Beckstoffer To Kalon 2015 ($200, 14.8%) – This young wine still shows primary, exuberant, red fruit on the nose: cranberry, cassis, a hint of cherry, even strawberry – unusual for Napa Cabernet. Its mouthfeel is supple but it’s tensely held in balance, bitter tannins answering the tartness of the fruit, its young edges still rough on the finish.</p>

	<p class="text">Paul Hobbs Cabernet Sauvignon Napa Valley Beckstoffer To Kalon Vineyard 2014 ($500, 14.9%) – Wafting lilac, currant and plum, Paul Hobbs’ wine feels silky in the mouth, with tannins much more integrated than other wines in this tasting. Acid girds the wine, but it still feels soft and shows some savory qualities: sagebrush, bay leaf, green olive, sandalwood.</p>


</div>
</div>

<script src="app.js" async></script>





<!-- build:remove -->
<%= t.include("partials/_bottom.html") %>
<!-- /build -->

