<!-- build:remove -->
<%= t.include("partials/_top.html") %>
<!-- /build -->
<!-- build:css inline -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- /build -->





<!-- Code that goes within WCM Freeform -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript">
// Twitter Intent


$(document).ready(function() {
  //document.getElementById("map-0").classList.add('active');
 

  $(window).scroll(function() {
    
  var window_top = document.body.scrollTop;
  var div_top = document.getElementById('stick-here').getBoundingClientRect().top + window_top;



  for (var i = 0; i < 9; i++) {
    var a = document.getElementById("map-"+i);
    var at = document.getElementById("map-"+i);
    //console.log(at);



    if (i == 8) {
      var ed_top = a.getBoundingClientRect().top + window_top - 465;
      var ede_top = a.getBoundingClientRect().bottom + window_top - 440;

    } else if (i == 0) {
      var ed_top = a.getBoundingClientRect().top + window_top - 250;
      var ede_top = a.getBoundingClientRect().bottom + window_top - 460;
    } else {
      var ed_top = a.getBoundingClientRect().top + window_top - 465;
      var ede_top = a.getBoundingClientRect().bottom + window_top - 460;
    }

    if (window_top > ed_top && window_top < ede_top) {

      at.classList.add('active');
      a.classList.add('active');

      at.classList.remove('final');
      a.classList.remove('final');
      // if (i == 8) {
      //   document.getElementById('map-8').classList.add('unstuck');
      // }

    } else {
      if (i != 8) {
        at.classList.remove('active');
        a.classList.remove('active');
        console.log(i);
      } else {
        at.classList.add('final');
        a.classList.add('final');        
      }
      
    }
  }
});
});
</script>


<div class="dtf-container timeline">
  <h1>Tasting notes: Wines of To Kalon</h1>
	<div class="subhead timeline">The wines from this land have been famous for 150 years. Scroll down to see what sorts of wines the vineyard’s different parcels are yielding today.</div>
</div>


<div class="timeline" id="timeline">
  <div id="stick-here"></div>	



<% json.tokalon_text.timeline.forEach(function(event, idx){ %>

  <div class="block-group" id="map-<%= idx %>">
    <div class="block-name">
      <div class="sticky-name">
        <div class="block-yr"><img src="<%=event.Image%>"></div>
      </div>

    </div>
    
    <div class="block-content">
    	<div class="block-yr-mobile"><img src="<%=event.Image%>"></div>

      <div class="block-text">
        <% if (event.Title) { %>
        <% console.log(event.Title)  %>
          <b><%=event.Title%></b><br> 
        <% } %>  
        <%=event.Text%>
      </div>
      <hr>
    </div>
  </div>
<% }); %>


  <div class="jackie-credit">
  <div class="entry">Jackie Gu  &bull; <a href="mailto:jgu@sfchronicle.com">jgu@sfchronicle.com</a>   &bull; <a href="https://twitter.com/jqlngu" target="_blank">@jqlngu</a></div>
  </div>
</div>





<!-- build:remove -->
<%= t.include("partials/_bottom.html") %>
<!-- /build -->

